/*
* PHLY - Versatile Coming Soon Template
* Build Date: October 2015
* Author: Madeon08
* Copyright (C) 2015 Madeon08
* This is a premium product available exclusively here : http://themeforest.net/user/Madeon08/portfolio
*/

/*  TABLE OF CONTENTS
    ---------------------------
    *. @Import & Reset
    1. Generic styles
    2. Home
    3. More Informations
    4. Newsletter
    5. Contact
    6. Social Icons
    7. Footer/Copyright
    8. Media Queries
*/

/* ------------------------------------- */
/* *. @Import & Reset .................. */
/* ------------------------------------- */

/* http://bourbon.io/ Sass Mixin Library */
@import "bourbon";

// colors, fonts, sizes etc...
@import "vars";

// custom mixins
@import "mixins";

/* custom CSS files */
@import "font-awesome.min.css";
@import "ionicons.min.css";
@import "bootstrap.min.css";
@import "animate.css";
@import "photoswipe.css";
@import "default-skin/default-skin.css";
@import "jquery.mCustomScrollbar.css";
@import "vegas.css";

/* Google Fonts */
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");

/*
* http://meyerweb.com/eric/tools/css/reset/ 
* v2.0 | 20110126
* License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------------------- */
/* Preloader styles .................... */
/* ------------------------------------- */

#loading {
    width: 100vw;
    height: 100vh;
    background: $ebony-clay;
    position: fixed;
    z-index: 999;

    #preloader {
        position: relative;
        width: 100%;
        height: 80px;
        top: calc(50% - 50px);
        text-align: center;
        margin: 0 auto;

        &:after {
            content: "Loading..."; /* Text under the circles */
            position: absolute;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 400;
            color: lighten($shark, 15%);
            letter-spacing: 1px;
            font-family: $second-font;
            top: 90px;
            width: 100%;
            left: 0;
            right: 0;
            height: 1px;
            text-align: center;
        }

        span {
            position: absolute;
            border: 8px solid $caribbean-green;
            border-top: 8px solid transparent;
            border-radius: 999px;

            &:nth-child(1) {
                width: 80px;
                height: 80px;
                left: calc(50% - 40px);
                @include animation(spin-1 1s infinite ease);
            }

            &:nth-child(2) {
                top: 20px;
                left: calc(50% - 20px);
                width: 40px;
                height: 40px;
                @include animation(spin-2 1s infinite ease);
            }
        }
    }
}


@include keyframes(spin-1) {
    0% {
        @include transform(rotate(360deg));
        opacity: 1;
    }

    50% {
        @include transform(rotate(180deg));
        opacity: 0.5;
    }

    100% {
        @include transform(rotate(0deg));
        opacity: 1;
    }
}


@include keyframes(spin-2) {
    0% {
        @include transform(rotate(0deg));
        opacity: 0.5;
    }

    50% {
        @include transform(rotate(180deg));
        opacity: 1;
    }

    100% {
        @include transform(rotate(360deg));
        opacity: 0.5;
    }
}


/* ------------------------------------- */
/* 1. Generic styles ................... */
/* ------------------------------------- */

body {
    background: $ebony-clay;
    font-family: $font-family;
    color: $white;
    @include font-smoothing(on);
    font-weight: 400;
    font-size: 100%;
    line-height: 1.5em;
    position: absolute;
    height: 100%;
}

.scroll-touch {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

body, html {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
}

body, input, select, textarea {
    @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));
}

a {
    @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));
    cursor: pointer;
    text-decoration: none;
    color: $white;

    &:hover {
        color: darken($caribbean-green, 5%);
        text-decoration: none !important;
        outline: none !important;
    }

    &:active, &:focus {
        outline: none !important;
        text-decoration: none !important;
        color: $white;
    }
}

button {
    @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));
    cursor: pointer;

    &:hover, &:active, &:focus {
        outline: none !important;
        text-decoration: none !important;
        color: $shark;
    }
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

p {
    margin: 0;
    font-size: 1em;
    line-height: 1.6em;
    color: $white;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    color: $white;
    font-weight: 400;
    line-height: 1.3em;

    a {
        color: inherit;
        text-decoration: none;
    }

    small {
        color: inherit;
    }
}

h1 {
    font-size: 40px;
    font-family: $second-font;
    font-weight: 700;
}

h2 {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom: 25px;
}

h4 {
    font-size: 25px;
    margin-bottom: 25px;
}

h5 {
    font-size: 20px;
    margin-bottom: 25px;
}

h6 {
    font-size: 15px;
    margin-bottom: 25px;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

.clear {
    clear: both;
}

.display-none {
    display: none !important;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.opacity-0 {
    opacity: 0 !important;
    visibility: hidden !important;
}

.opacity-03 {
    opacity: 0.3 !important;
}

.opacity-1 {
    opacity: 1 !important;
    visibility: visible !important;
}

.index-999 {
    z-index: -999 !important;
}

/* ------------------------------------- */
/* 2. Home ............................. */
/* ------------------------------------- */

.light-btn {
    background: transparent;
    font-weight: 600;
    padding: 0.7em 2em;
    color: $white;
    margin-right: 10px;
    border: 2px solid $white;
    display: block;
    float: left;

    &:hover {
        background: $white;
        color: $shark;
        border-color: $white;
    }
}

.action-btn {
    background: $caribbean-green;
    font-weight: 600;
    padding: 0.7em 2em;
    color: $white;
    border: 2px solid $caribbean-green;
    display: block;
    float: left;

    &:hover {
        background: $white;
        color: $shark;
        border-color: $white;
    }
}

.global-overlay {
    position: fixed;
    top: 0;
    left: -100vw;
    height: 100%;
    overflow: visible;
    width: 100%;
    opacity: 0;
}

.overlay {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: -50%;
    background: rgba($ebony-clay, 0.80);
    width: 100%;
    height: 100%;
    @include bezier-transition(all, 0.5s, cubic-bezier(0.7, 0, 0.3, 1));
    border-right: 1px solid darken($ebony-clay, 5%);

    &.skew-part {
        @include skew(-25, 0);
    }
}

#stars {
    width: 1px;
    height: 1px;
    margin-left: 25%;
    background: transparent;
    box-shadow: $shadows-small;
    @include animation(animStar 50s infinite linear);

    &:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
    }
}

#stars2 {
    width: 2px;
    height: 2px;
    margin-left: 25%;
    background: transparent;
    box-shadow: $shadows-medium;
    @include animation(animStar 100s infinite linear);

    &:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
    }
}

#stars3 {
    width: 3px;
    height: 3px;
    margin-left: 25%;
    background: transparent;
    box-shadow: $shadows-big;
    @include animation(animStar 150s infinite linear);

    &:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: $shadows-big;
    }
}

@include keyframes(animStar) {
    from {
        @include transform(translateY(0px));
    }

    to {
        @include transform(translateY(-2000px));
    }
}

.brand-logo {
    position: absolute;
    left: 10%;
    top: 5%;
    max-width: 250px;
}

#left-side {
    position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    @include bezier-transition(all, $medium-transition, cubic-bezier(0, 0, 0.58, 1));

    .content {
        position: absolute;
        z-index: 0;
        left: 0;
        padding: 0;
        top: 50vh;
        width: 100%;
        padding: 0 10%;
        @include bezier-transition(all, $medium-transition, cubic-bezier(0, 0, 0.58, 1));
        @include transform(translateY(-50%));
        text-align: left;
        @include font-smoothing;
        opacity: 1;
        visibility: visible;
    }
}

/* ------------------------------------- */
/* 3. More informations ................ */
/* ------------------------------------- */

#right-side {
    background: $athens-gray;
    position: relative;
    overflow: auto;
    @include transform-phly(100%, 0, 0);
    top: 0;
    width: 50%;
    @include bezier-transition(all, 0.5s, cubic-bezier(0.7, 0, 0.3, 1));

    &.hide-right {
        @include transform-phly(200%, 0, 0);
    }

    .content {
        width: 100%;
        padding: 8% 10% 0;
        text-align: left;
        @include font-smoothing;
        opacity: 1;
        visibility: visible;

        h1, h2, h3, h4, h5, h6 {
            color: $raven;
        }

        h3 {
            font-family: $second-font;
            text-transform: uppercase;
            font-weight: 700;
        }

        span.separator {
            display: block;
            height: 2px;
            background: $white;
            width: 100%;
            margin: 50px 0 60px;
        }

        p {
            color: $dove-gray;
        }

        .photo-line {
            figure {
                padding: 0;
                margin: 0 15px 30px;
                width: calc(50% - 30px);
                @include box-shadow(0 0 1px rgba($black, 0.2));
                background: $black;

                &.clear-second {
                    clear: both;
                }

                a.box-picture {
                    overflow: hidden;
                    width: 100%;
                    display: block;
                    position: relative;

                    p {
                        bottom: 50%;
                        line-height: 1;
                        height: auto;
                        width: 100%;
                        text-align: center;
                        color: $white;
                        font-family: $second-font;
                        text-transform: uppercase;
                        font-size: 1em;
                        letter-spacing: 2px;
                        left: 0;
                        opacity: 0;
                        position: absolute;
                        @include transform(translateY(50%));
                        @include bezier-transition(all, 0.3s, cubic-bezier(0.42, 0, 0.58, 1));
                    }
                }

                a.box-picture:hover {
                    background: $black;

                    img {
                        opacity: 0.5;
                    }

                    p {
                        opacity: 1;
                    }
                }

                img {
                    overflow: hidden;
                    @include bezier-transition(all, 0.3s, cubic-bezier(0.42, 0, 0.58, 1));
                    @include backface-visibility(hidden);
                    @include transform(scale(1));
                    @include bezier-transition(all, $long-transition, cubic-bezier(0.215, 0.61, 0.355, 1));
                }

                .photo-details {
                    background: $white;
                    padding: 1em;
                    text-align: left;
                    color: $dove-gray;

                    h4 {
                        font-weight: 800;
                        margin-bottom: 1em;
                        text-transform: uppercase;
                        font-size: 0.8em;
                        opacity: 1;
                        color: $dove-gray;
                    }

                    span.border {
                        display: block;
                        height: 2px;
                        background: $caribbean-green;
                        width: 10%;
                        margin: 0.8em 0 1em;
                    }

                    p {
                        font-size: 0.9em;
                        color: $dusty-gray;
                        font-weight: 500;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}

.widget-angle-top-right {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    padding: 0;
    color: $caribbean-green;
    font-size: 1em;
    border-top: 50px solid $shark;
    border-left: 50px solid transparent;

    span.icon-text {
        font-family: $second-font;
        font-weight: 700;
        position: absolute;
        top: -47px;
        left: -22px;
    }
}

.widget-angle-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    background: transparent;
    border: none;
    padding: 0;
    color: $caribbean-green;
    font-size: 1em;
    border-bottom: 50px solid $shark;
    border-left: 50px solid transparent;

    span.icon-text {
        font-family: $second-font;
        font-weight: 700;
        position: absolute;
        top: 23px;
        left: -22px;
    }
}

.widget-angle-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    background: transparent;
    border: none;
    padding: 0;
    color: $caribbean-green;
    font-size: 1em;
    border-bottom: 50px solid $shark;
    border-right: 50px solid transparent;

    span.icon-text {
        font-family: $second-font;
        font-weight: 700;
        position: absolute;
        top: 23px;
        left: 7px;
    }
}

.widget-angle-top-left {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    padding: 0;
    color: $caribbean-green;
    font-size: 1em;
    border-top: 50px solid $shark;
    border-right: 50px solid transparent;

    span.icon-text {
        font-family: $second-font;
        font-weight: 700;
        position: absolute;
        top: -47px;
        left: 7px;
    }
}

#close-more-info {
    position: fixed;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    color: $raven;
    font-size: 2em;

    &:hover {
        @include transform(scale(1.2));
    }

    &.hide-close {
        right: -40px;
    }
}

.mCSB_scrollTools {
    /* Scrollbar */
    position: absolute;
    width: 5px;
    height: auto;
    left: auto;
    top: 0;
    right: -5px;
    bottom: 0;
    z-index: 1;
    @include bezier-transition(all, 0.5s, cubic-bezier(0.7, 0, 0.3, 1));

    .mCSB_draggerRail {
        width: 5px;
        height: 100%;
        margin: 0;
        @include border-radius(0);
        background-color: rgba($raven, 1);
        filter: "alpha(opacity=40)";
        -ms-filter: "alpha(opacity=40)";
    }

    .mCSB_dragger .mCSB_dragger_bar {
        /* the dragger element */
        position: relative;
        width: 5px;
        height: 100%;
        margin: 0 auto;
        @include border-radius(0);
        text-align: center;
    }

    .mCSB_dragger .mCSB_dragger_bar {
        background-color: rgba($caribbean-green, 1);
    }
}

.mCSB_scrollTools-left {
    right: 50% !important;
}

/* ------------------------------------- */
/* 4. Newsletter ....................... */
/* ------------------------------------- */

.dialog,
.dialog__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dialog {
    position: fixed;
    z-index: 999;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    pointer-events: none;
}

.dialog__overlay {
    position: absolute;
    z-index: 1;
    background: rgba($tuna, 0.9);
    opacity: 0;
    transition: opacity 0.3s;
}

.dialog--open .dialog__overlay {
    opacity: 1;
    pointer-events: auto;
}

.dialog__content {
    width: 50%;
    max-width: 500px;
    min-width: 290px;
    background: transparent;
    padding: 0;
    text-align: center;
    position: relative;
    z-index: 5;
    opacity: 0;
    overflow: hidden;
    background: url(../img/background-newsletter.jpg) center;
    background-size: cover;
    // background: $ebony-clay;
    border: 10px solid $shark;

    &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border: 1px solid $caribbean-green;
        background: rgba($ebony-clay, 0.8);
    }
}

.dialog--open .dialog__content {
    pointer-events: auto;
}

.dialog {
    .close-newsletter {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background: transparent;
        width: 40px;
        height: 40px;
        line-height: 35px;
        color: $white;
        font-size: 20px;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    .dialog-inner {
        padding: 90px 70px;
        overflow: hidden;

        &::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
       
        }

        h4 {
            color: $white;
            font-size: 40px;
            font-family: $second-font;
            font-weight: 700;
        }

        p {
            color: $athens-gray;
            font-size: 16px;
        }
    }
}

#subscribe {
    p {
        font-weight: 400;
    }

    #notifyMe {
        max-width: 450px;
        margin: auto;
        margin-top: 2em;

        .form-group {
            margin-bottom: 1em;

            .fa {
                color: $raven;
                position: absolute;
                text-align: center;
                top: 15px;
                left: 15px;
            }

            .form-control {
                text-align: center;
                background: $white;
                border: none;
                @include border-radius(0);
                box-shadow: none;
                height: 50px;
                font-weight: 600;
                outline: medium none;
                padding: 0 1em;
                width: 100%;
                margin: auto;
                color: $black;
                @include bezier-transition(all, 0.3s, cubic-bezier(0, 0, 0.58, 1));

                &:hover, &:focus {
                    box-shadow: none;
                }

                @include placeholder {
                    color: $dove-gray !important;
                }
            }

            button.submit {
                border: 2px solid $caribbean-green;
                @include border-radius(0);
                font-family: $font-family;
                background: $caribbean-green;
                color: $white;
                height: 50px;
                padding: 1em 0;
                font-size: 1em;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: uppercase;
                line-height: 1;
                width: 70%;
                margin: 20px auto 0;
                @include bezier-transition(all, 0.3s, cubic-bezier(0, 0, 0.58, 1));

                &:hover {
                    background: darken($caribbean-green, 5%);
                    color: $white;
                }
            }
        }
    }

    .block-message {
        min-height: 50px;
        position: absolute;
        bottom: -100px;
        width: 100%;
        left: 0;
        padding: 15px;
        background: transparent;
        @include bezier-transition(all, 0.3s, cubic-bezier(0, 0, 0.58, 1));

        &.show-block-error {
            bottom: 0;
            background: $torch-red;
        }

        &.show-block-valid {
            bottom: 0;
            background: $caribbean-green;
        }
    }

    p.notify-valid {
        color: $white;
        text-transform: none;
        font-size: 16px;
        letter-spacing: 0;
        font-weight: 600;
    }
}

.dialog__overlay {
    @include bezier-transition(all, 0.3s, cubic-bezier(0, 0, 0.58, 1));
}

.dialog.dialog--open .dialog__content,
.dialog.dialog--close .dialog__content {
    @include animation-duration(0.4s);
    @include animation-fill-mode(forwards);
}

.dialog.dialog--open .dialog__content {
    @include animation-name(anim-open);
}

.dialog.dialog--close .dialog__content {
    @include animation-name(anim-close);
}

@include keyframes(anim-open) {
    0% {
        opacity: 0;
        @include transform-phly(0, 50px, 0);
   
    }

    100% {
        opacity: 1;
        @include transform-phly(0, 0, 0);
    }
}

@include keyframes(anim-close) {
    0% {
        opacity: 1;
        @include transform-phly(0, 0, 0);
    }

    100% {
        opacity: 0;
        @include transform-phly(0, 50px, 0);
    }
}

/* ------------------------------------- */
/* 5. Contact .......................... */
/* ------------------------------------- */

.info-contact {
    margin-bottom: 30px;

    .item-map {
        padding: 0;

        &:first-child {
            padding-left: 15px;
        }

        &:last-child {
            padding-right: 15px;
        }

        .contact-item {
            padding: 15px 0;
            font-size: 14px;
            text-align: center;

            i {
                color: $caribbean-green;
                font-size: 2em;
            }

            a {
                font-weight: 600;
                color: $raven;

                &:hover {
                    color: $caribbean-green;
                }
            }
        }
    }
}

#contact-form {
    margin-top: 40px;

    .form-control {
        background: $white;
        border: 1px solid rgba($black, 0.1);
        @include border-radius(0);
        box-shadow: none;
        font-weight: 400;
        outline: medium none;
        height: 40px;
        width: 100%;
        color: $black;
        @include bezier-transition(all, 0.3s, cubic-bezier(0, 0, 0.58, 1));
        text-align: left;

        &:hover, &:focus {
            box-shadow: none;
        }

        @include placeholder {
            color: $dove-gray !important;
        }
    }

    textarea.form-control {
        min-height: 150px;
    }

    button#valid-form {
        font-weight: 400;
        padding: 1em 2em;
        font-size: 1em;
        display: block;
        margin: 0 auto 0;
        background: $caribbean-green;
        color: $white;
        @include border-radius(0);
        font-weight: 700;
        width: 100%;
        line-height: 10px;

        &:hover {
            background: darken($caribbean-green, 5%);
            color: $white;
        }
    }
}

#block-answer {
    min-height: 60px;
    margin-top: 1em;
    text-align: center;
    color: $raven;
}

.success-message, .error-message {
    color: $raven;

    p {
        color: $raven !important;
    }

    .ion-checkmark-round {
        color: $green-alert;
    }
}

.error-message {
    .ion-close-round {
        color: $torch-red;
    }
}

/* ------------------------------------- */
/* 6. Social Icons ..................... */
/* ------------------------------------- */

.social-icons {
    position: absolute;
    left: 10%;
    bottom: 5%;
    margin-left: -22px;
    margin-bottom: -22px;
    display: block;
    z-index: 9;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    @include bezier-transition(all, 0.7s, cubic-bezier(0.42, 0, 0.58, 1));

    i {
        color: $white;
        @include bezier-transition(all, 0.3s, cubic-bezier(0, 0, 0.58, 1));
    }

    a {
        color: rgba($white, 1);
        width: 50px;
        line-height: 50px;
        letter-spacing: 0;
        background: transparent;
        font-size: 1em;
        font-weight: 300;
        height: 50px;
        display: inline-block;
        text-align: center;
        float: left;
        margin-right: 2px;
        border: none;
        @include bezier-transition(all, 0.3s, cubic-bezier(0, 0, 0.58, 1));

        &:hover {
            color: rgba($caribbean-green, 1);
            background: transparent;

            i {
                color: rgba($caribbean-green, 1);
                @include transform(scale(1.2));
            }
        }
    }
}

/* ------------------------------------- */
/* 7. Footer/Copyright ................. */
/* ------------------------------------- */

footer {
    padding: 10px 0;
    background: transparent;
    text-align: center;

    p {
        font-size: 11px;
        font-weight: 100;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $raven;
    }
}

/* ------------------------------------- */
/* VARIANT CLOUD ....................... */
/* ------------------------------------- */

#cloud-animation {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    position: fixed;

    img {
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
    }
}

@include keyframes(animCloud) {
    from {
        @include transform(translateX(100%));
    }

    to {
        @include transform(translateX(-100%));
    }
}

#cloud1 {
    @include animation(animCloud 25s infinite linear);
}

#cloud2 {
    @include animation(animCloud 35s infinite linear);
}

#cloud3 {
    @include animation(animCloud 45s infinite linear);
}

#cloud4 {
    @include animation(animCloud 55s infinite linear);
}

/* ------------------------------------- */
/* VARIANT YOUTUBE ..................... */
/* ------------------------------------- */

.mbYTP_wrapper {
    width: 100vw !important;
    min-width: 0 !important;
    left: 0 !important;
}

.ytb-overlay {
    background: rgba($ebony-clay, 0.6);
}

.light-overlay {
    background: rgba($ebony-clay, 0.5) !important;
}

#player-nav {
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: center;

    li {
        display: inline-block;
        background: rgba($caribbean-green, 0.4);
        height: 40px;
        width: 40px;
        line-height: 40px;
        @include border-radius(0);
        @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));

        &:hover {
            background: rgba($caribbean-green, 0.8);

            a {
                color: $white;
            }
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 15px;
            color: rgba($white, 0.5);
        }
    }
}

/* ------------------------------------- */
/* GALLERY PHOTOS ...................... */
/* ------------------------------------- */

.pswp__bg {
    background: $ebony-clay;
}

.pswp__caption h4 {
    margin-bottom: 10px !important;
}

/* ------------------------------------- */
/* 8. Media Queries .................... */
/* ------------------------------------- */

/* Large Devices, Wide Screens */
@include desktop {}


/* Notebook devices */
@include notebook {}


/* Medium Devices, Desktops */
@include medium {
    .overlay {
        left: 0;
        width: 100%;
        height: 100%;

        &.skew-part {
            @include skew(0, 0);
        }
    }

    #stars, #stars2, #stars3 {
        margin-left: 0 !important;
    }

    .brand-logo {
        position: relative;
        left: 50%;
        @include transform(translateX(-50%));
        margin: 25px 0;
    }

    .light-btn {
        padding: 0.7em 0;
        margin-right: 0;
        float: none;
        margin: 0 auto;
        margin-bottom: 15px;
        max-width: 50%;
    }

    .action-btn {
        padding: 0.7em 0;
        float: none;
        margin: 0 auto;
        max-width: 50%;
    }

    #left-side {
        width: 100%;

        .content {
            text-align: center;
        }
    }

    .social-icons {
        left: 0;
        bottom: 0;
        margin-left: 0;
        margin-bottom: 0;
    }

    #right-side {
        position: relative;
        @include transform-phly(0, 0, 0);
        top: 0;
        width: 100%;

        &.hide-right {
            @include transform-phly(0, 0, 0);
        }
    }

    #close-more-info {
        display: none;
    }

    .mCSB_scrollTools {
        right: 0;
    }

    .mCSB_scrollTools-left {
        right: 0 !important;
    }
}


/* Small Devices, Tablets */
@include tablet {
    .light-btn {
        max-width: 70%;
        min-width: 60%;
    }

    .action-btn {
        max-width: 70%;
        min-width: 60%;
    }

    .photo-line {
        figure {
            padding: 0;
            margin: 0 0 20px !important;
            width: 100% !important;
            @include box-shadow(0 0 1px rgba($black, 0.2));
        }
    }

    .info-contact {
        .item-map {
            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .dialog__content {
        width: 80%;
        max-width: 80%;
        min-width: 75%;
    }

    .dialog {
        .dialog-inner {
            padding: 40px 20px 90px;
            overflow: hidden;
        }
    }
}


/* Extra Small Devices, Phones */
@include phone {
    #left-side {
        position: relative;
        width: 100%;
        height: auto;
        padding: 50px 0 150px;

        .content {
            position: relative;
            left: 50%;
            @include transform(translateX(-50%));
            top: auto;
            text-align: center;
        }
    }
    
    h1.text-intro {
        font-size: 30px;
    }
    h2.text-intro {
        font-size: 18px;
    }
    .light-btn {
        max-width: 80%;
        min-width: 70%;
    }

    .action-btn {
        max-width: 80%;
        min-width: 70%;
    }

    .dialog__content {
        width: 95%;
        max-width: 95%;
        min-width: 75%;
    }

    .dialog {
        .close-newsletter {
            top: 2px;
            right: 5px;
        }

        .dialog-inner {
            padding: 40px 20px 50px;
            h4 {
                font-size: 25px;
                margin-bottom: 20px;
            }
        }
    }

    #subscribe {

        .block-message {
            padding: 5px 2px;
        }

        p.notify-valid {
            font-size: 12px;
        }

    }
}


/* Only for tablet in landscape mode */
@include landscape-tablet {}


/* Only for phone in landscape mode */
@include landscape-phone {
    #left-side {
        padding: 50px 0 100px;
    }
    h1.text-intro {
        font-size: 30px;
    }
    h2.text-intro {
        font-size: 18px;
    }

    .dialog__content {
        width: 100%;
        max-width: 100%;
        min-width: 75%;
    }

    .dialog {
        .close-newsletter {
            top: 2px;
            right: 5px;
        }

        .dialog-inner {
            padding: 40px 20px 50px;
            h4 {
                font-size: 25px;
                margin-bottom: 5px;
            }
        }
    }

    #subscribe {

        #notifyMe {
            margin-top: 10px;
            .form-group {

                .form-control {
                    width: 70%;
                    margin: 0;
                    float: left;
                }

                button.submit {
                    width: 30%;
                    margin: 0;
                    float: left;
                }
            }
        }

        .block-message {
            padding: 5px 2px;
        }

        p.notify-valid {
            font-size: 12px;
        }

    }
}